bottle==0.12.18
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
colorlog==4.0.2
ecdsa==0.15
esphome==1.14.3
esptool==2.7
idna==2.8
ifaddr==0.1.6
paho-mqtt==1.4.0
pathspec==0.7.0
platformio==4.0.3
protobuf==3.10.0
pyaes==1.6.1
pyserial==3.4
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
semantic-version==2.8.4
six==1.13.0
tabulate==0.8.6
tornado==5.1.1
tzlocal==2.0.0
urllib3==1.25.7
voluptuous==0.11.7
yamllint==1.20.0
