aioesphomeapi==10.6.0
aiofiles==0.8.0
ajsonrpc==1.2.0
anyio==3.5.0
asgiref==3.5.0
bitstring==3.1.9
bottle==0.12.19
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
ecdsa==0.17.0
esphome==2022.1.1
esphome-dashboard==20220116.0
esptool==3.2
h11==0.13.0
idna==3.3
ifaddr==0.1.7
kconfiglib==13.7.1
marshmallow==3.14.1
noiseprotocol==0.3.1
paho-mqtt==1.6.1
pathspec==0.9.0
platformio==5.2.4
protobuf==3.19.3
pycparser==2.21
pyelftools==0.27
pyserial==3.5
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
reedsolo==1.5.4
requests==2.27.1
semantic-version==2.8.5
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
tabulate==0.8.9
tornado==6.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
uvicorn==0.16.0
voluptuous==0.12.2
wsproto==1.0.0
yamllint==1.26.3
zeroconf==0.37.0
