aiofiles==0.6.0
ajsonrpc==1.1.0
bottle==0.12.19
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==4.6.2
ecdsa==0.16.1
esphome==1.18.0
esptool==2.8
h11==0.12.0
idna==2.10
ifaddr==0.1.7
marshmallow==3.10.0
paho-mqtt==1.5.1
pathspec==0.8.1
platformio==5.1.1
protobuf==3.15.8
pyaes==1.6.1
pyelftools==0.27
pyserial==3.5
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
semantic-version==2.8.5
six==1.15.0
starlette==0.14.2
tabulate==0.8.7
tornado==6.1
tzlocal==2.1
urllib3==1.26.5
uvicorn==0.13.4
voluptuous==0.12.1
wsproto==1.0.0
yamllint==1.26.0
zeroconf==0.28.8
